# Computing mean, std, ...

In [4]:
import pandas as pd
import numpy as np

## Create dataframe

In [5]:
raw_data = {'officer_name': ['Jake', 'Amy', 'Terry', 'Charles', 'Rosa'],
        'jan_arrests': [10, 13, 31, 2, 3],
        'feb_arrests': [13, 9, np.NaN, 2, 7],
        'march_arrests': [21, 18, 22, 3, 5]}
df = pd.DataFrame(raw_data, columns = ['officer_name', 'jan_arrests', 'feb_arrests', 'march_arrests'])
df

  officer_name  jan_arrests  feb_arrests  march_arrests
0         Jake           10         13.0             21
1          Amy           13          9.0             18
2        Terry           31          NaN             22
3      Charles            2          2.0              3
4         Rosa            3          7.0              5

In [6]:
# Create/add columns with the average arrests for each officer as well as their std
sub_df = df[['jan_arrests', 'feb_arrests', 'march_arrests']]
df['mean'] = sub_df.mean(axis=1, skipna=True) 
df['std'] = sub_df.std(axis=1, skipna=True)
df

  officer_name  jan_arrests  feb_arrests  march_arrests       mean       std
0         Jake           10         13.0             21  14.666667  5.686241
1          Amy           13          9.0             18  13.333333  4.509250
2        Terry           31          NaN             22  26.500000  6.363961
3      Charles            2          2.0              3   2.333333  0.577350
4         Rosa            3          7.0              5   5.000000  2.000000